<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
</head>
<body>
    <h1>Lista de Juegos</h1>
    <ul>
        <% games.forEach(game => { %>
            <li><%= game.title %></li>
        <% }) %>
    </ul>
</body>
</html>
