<!-- index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('includes/head.ejs') %>
<body>
  <%- include('includes/header.ejs') %>
  <h1>Juegos</h1>
  <ul>
    <% games.forEach(game => { %>
        <li><%= game.title %></li>
    <% }); %>
</ul>
  <%- include('includes/footer.ejs') %>

</body>
</html>
